<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>文档预览</title>
<link rel="stylesheet" href="css/vendor-3e4b16a7.css">
<link rel="stylesheet" href="css/app-63b146b0.css">
<link rel="stylesheet" href="js/angular-pdf-viewer/css/normalize.css" />
<link rel="stylesheet" href="js/angular-pdf-viewer/css/angular-pdf-viewer.css" />

<script src="js/angular-pdf-viewer/js/libs/pdf/pdf.js"></script>
<script src="js/angular-pdf-viewer/js/libs/pdf/text_layer_builder.js"></script>
<script src="js/angular-pdf-viewer/js/libs/pdf/annotations_layer_builder.js"></script>
<script src="js/angular-pdf-viewer/js/libs/pdf/ui_utils.js"></script>
<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/angular-route.min.js"></script>
<script type="text/javascript" src="js/angular-sanitize.min.js"></script>
<script type="text/javascript" src="js/ui-bootstrap-tpls.js"></script>
<script src="js/angular-pdf-viewer/js/angular-pdf-viewer.js"></script>
<script type="text/javascript" src="js/docView.js"></script>
<script type="text/javascript">
    var app = angular.module('myApp', [
		"docSearchApp",
    	"ngRoute",
        "angular-pdf-viewer",
        'ngSanitize',
        'ui.bootstrap'
    ]);
    
    app.config(['$locationProvider', function($locationProvider) {  
    	  $locationProvider.html5Mode({
    		  enabled: true,
    		  requireBase: false
    		});  
    }])
    .config(['$routeProvider', function ($routeProvider) {
		$routeProvider.otherwise({
			templateUrl: "js/angular-pdf-viewer/partials/demo.html",
			controller: "docViewCtrl"
		});
	}]);
    
</script>
<script type="text/javascript" src="js/login.js"></script>
<script type="text/javascript" src="js/docCloudService.js"></script>

<!-- <base href="/" /> -->

</head>
<body data-ng-app="myApp" style="padding:5px 10px">
<div ng-controller="docViewCtrl">
    <uib-tabset class=" pull-left" style="width: 80%; height:40px" active="tabIndex">
        <uib-tab index="1" heading="预览PDF" ng-click="switchTab(1)" >
            <div data-ng-view ></div>
        </uib-tab>
        <uib-tab index="2" heading="缩略图" ng-click="switchTab(2)" >
            <div class="page" ng-repeat="p in doc.pages">
                <a ng-click="selectPage(p)">
                    <img ng-src="{{fileUrl+docId+'/thumb_p'+p.page+'.png'}}" width="96" class="docView"
                         ng-class="{'selected':p.page==currentPage}">
                    <div class="text-center">P.{{p.page}}</div>
                </a>
            </div>
        </uib-tab>
        <uib-tab index="3" heading="文本内容" ng-click="switchTab(3)" >
            <div class="row" style="margin-top:10px">
                <div class="col-md-1" style="text-align: right">P.{{currentPage}}</div>
                <div class="col-md-11">
                    <pre id="pageText" style="font-size: 16px; line-height: 30px"></pre>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>
    <div class="pull-left  b-l" style="width: 20%">
        <div class="greycube "></div>
        <div class="panel-body ">
            <div class="pull-left">
                <a class="btn btn-default" ng-click="setPage(-1)"><i class="fa fa-arrow-left"></i></a>
                <span class="m-l-10 m-r-10">当前第</span>
            </div>
            <input class="form-control pull-left" ng-model="currentPage" style="width: 60px"
                ng-blur="setPage(0)" ng-keyup="goTo($event)">
            <div class="pull-left p-t-10">
                <span class="m-l-10 m-r-10">页 / 共{{totalPages}}页</span>
            </div>
            <div class="pull-left">
                <a class="btn btn-default" ng-click="setPage(1)"><i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>

</body>
</html>