<div class="webbs">
    <tabset class="bg-white pull-left" style="width: 80%">
        <tab heading="{{pdfTab.heading}}" ng-click="switchTab(1)" active="pdfTab.active">
            <div >
                <!--<ng-pdf template-url="tpl/docCloud/partials/viewer.html"
                        canvasid="pdf" scale="page-fit" page=1></ng-pdf>-->
                <!--<div data-ng-view>
                    <div id="loader" data-ng-show="isLoading">
                        <div>Loading...</div>
                        <div class="progress-bar">
                            <span class='bar' data-ng-style='{width: downloadProgress + "%"}'></span>
                        </div>
                    </div>

                    <div id="toolbar">
                        <div class="zoom_wrapper">
                            <button data-ng-click="zoomOut()">-</button>
                            <select
                                    data-ng-model="pdfScale"
                                    data-ng-change="onPDFZoomLevelChanged()"
                                    data-ng-options="zoom.value as zoom.label for zoom in pdfZoomLevels" >
                            </select>
                            <button data-ng-click="zoomIn()">+</button>
                        </div>

                        <div class="select_page_wrapper">
                            <span>Page:</span>
                            <input type="text" data-ng-model="pdfCurrentPage" data-ng-change="onPDFPageChanged()"/>
                            <span>of {{pdfTotalPages}}</span>
                        </div>

                        <div class="load_file_wrapper">
                            <input id="file_input" type="file" onchange="angular.element(this).scope().onPDFFileChanged()" accept=".pdf" />
                        </div>

                        <div class="search_wrapper">
                            <form data-ng-submit="findNext()" style="display: inline-block;">
                                <input type="text" data-ng-model="pdfSearchTerm" placeholder="Search..."/>
                            </form>
                            <span data-ng-show="pdfSearchTerm !== ''">{{pdfSearchResultID}} of {{pdfSearchNumOccurences}}</span>
                            <button data-ng-click="findPrev()">&lt;</button>
                            <button data-ng-click="findNext()">&gt;</button>
                        </div>
                        &lt;!&ndash;
                            <div class="print_wrapper">
                                <button data-ng-click="printPDF()">Print PDF</button>
                            </div>
                        &ndash;&gt;
                        <div class="demos_wrapper">
                            <span>Demo:</span>
                            <button data-ng-click="switchToPDF(0)">Small (13kB)</button>
                            <button data-ng-click="switchToPDF(1)">Large (1MB)</button>
                        </div>
                    </div>

                    <pdf-viewer
                            data-src="{{pdfURL}}"
                            data-file="pdfFile"
                            data-current-page="pdfCurrentPage"
                            data-initial-scale="fit_page"
                            data-api="pdfViewerAPI"
                            data-render-text-layer="true"
                            data-progress-callback="onPDFProgress(operation, state, value, total, message)"
                            data-password-callback="onPDFPassword(reason)"
                            data-search-term="{{pdfSearchTerm}}"
                            data-search-result-id="pdfSearchResultID"
                            data-search-num-occurences="pdfSearchNumOccurences">
                    </pdf-viewer>
                </div>-->
                <div id="pdf"></div>
            </div>
        </tab>
        <tab heading="{{imgTab.heading}}" ng-click="switchTab(2)" active="imgTab.active">
            <div class="page" ng-repeat="p in doc.pages">
                <a ng-click="selectPage(p)">
                    <img ng-src="{{fileUrl+docId+'/thumb_p'+p.page+'.png'}}" width="96" class="docView"
                         ng-class="{'selected':p.page==currentPage}">
                    <div class="text-center">P.{{p.page}}</div>
                </a>
            </div>
        </tab>
        <tab heading="{{txtTab.heading}}" ng-click="switchTab(3)" active="txtTab.active">
            <div class="row" style="margin-top:10px">
                <div class="col-md-1" style="text-align: right">P.{{currentPage}}</div>
                <div class="col-md-11">
                    <pre id="pageText" style="font-size: 16px; line-height: 30px"></pre>
                </div>
            </div>
        </tab>
    </tabset>
    <div class="pull-left  b-l" style="width: 20%">
        <div class="greycube "></div>
        <div class="panel-body ">
            <div class="pull-left">
                <a class="btn btn-default" ng-click="setPage(-1)"><i class="fa fa-arrow-left"></i></a>
                <span class="m-l-10 m-r-10">当前第</span>
            </div>
            <input class="form-control pull-left" ng-model="currentPage" style="width: 60px"
                ng-blur="setPage(0)" ng-keyup="goTo($event)">
            <div class="pull-left p-t-10">
                <span class="m-l-10 m-r-10">页 / 共{{totalPages}}页</span>
            </div>
            <div class="pull-left">
                <a class="btn btn-default" ng-click="setPage(1)"><i class="fa fa-arrow-right"></i></a>
            </div>

        </div>
    </div>
</div>

<style>
    .greycube {
        height: 45px;
        width: 100%;
        background-color: #e6e6e6;
        margin-left: -2px;
        border-bottom: 1px solid #d4d4d4
    }

    .nav-tabs {
        background-color: #e6e6e6;
        border: 1px solid #d4d4d4;
    }

    .nav-tabs > li > a {
        font-size: 16px;
        font-weight: normal;
    }

    .left a {
        margin-right: 10px;
    }

    .tab-content {
        padding: 20px 30px;
        height: 600px;
    }


    /**pdfobject start**/
    .pdfobject-com {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2016;
    }

    .pdfobject-com a:link, .pdfobject-com a:visited {
        color: #fff;
        font-weight: bold;
        display: block;
        padding: .25rem 1rem;
        background: #6699FF;
        text-decoration: none;
    }

    .pdfobject-com a:hover, .pdfobject-com a:visited:hover {
        color: #FFF;
        background: #FF3366;
        text-decoration: none;
    }

    .pdfobject-com a:before {
        content: "\2190";
        margin-right: .25rem;
    }

    .pdfobject-container {
        width: 100%;
        /*max-width: 1000px;*/
        height: 800px;
        margin: 5px 0;
    }

    .pdfobject { border: solid 1px #666; }
    #results { padding: 1rem; }
    .hidden { display: none; }
    .success { color: #4F8A10; background-color: #DFF2BF; }
    .fail { color: #D8000C; background-color: #FFBABA; }

    /**pdfobject end**/


    pdf-viewer {
        position: fixed;
        top: 120px;
        width: 80%;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: auto;
        background-color: #cccccc;
    }

    #loader {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        background-color: #ffffff;
        z-index: 1000;
    }

    #loader div {
        margin-top: 50px;
        text-align: center;
    }

    #loader .progress-bar {
        margin: 5px auto;
    }

    .progress-bar {
        width: 200px;
        height: 30px;
        border: 1px solid #888888;
        background-color: #ffffff;
        overflow: hidden;
    }

    .progress-bar span.bar {
        display: inline-block;
        background-color: #dddddd;
        height: 100%;
        text-align: left;
    }

    .zoom_wrapper,
    .select_page_wrapper,
    .demos_wrapper,
    .load_file_wrapper,
    .search_wrapper,
    .print_wrapper {
        display: inline-block;
        margin: 3px 10px;
    }

    .select_page_wrapper input[type="text"] {
        width: 40px;
        text-align: center;
    }

    .demos_wrapper {
        float: right;
    }

    #toolbar {
        border-bottom: 1px solid black;
        height: 30px;
        box-sizing: border-box;
    }



    /*! normalize.css v3.0.1 | MIT License | git.io/normalize */

    /**
     * 1. Set default font family to sans-serif.
     * 2. Prevent iOS text size adjust after orientation change, without disabling
     *    user zoom.
     */

    label {
        font-family: sans-serif; /* 1 */
        -ms-text-size-adjust: 100%; /* 2 */
        -webkit-text-size-adjust: 100%; /* 2 */
    }

    /**
     * Remove default margin.
     */

    body {
        margin: 0;
    }

    /* HTML5 display definitions
       ========================================================================== */

    /**
     * Correct `block` display not defined for any HTML5 element in IE 8/9.
     * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
     * Correct `block` display not defined for `main` in IE 11.
     */

    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    main,
    nav,
    section,
    summary {
        display: block;
    }

    /**
     * 1. Correct `inline-block` display not defined in IE 8/9.
     * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
     */

    audio,
    canvas,
    progress,
    video {
        display: inline-block; /* 1 */
        vertical-align: baseline; /* 2 */
    }

    /**
     * Prevent modern browsers from displaying `audio` without controls.
     * Remove excess height in iOS 5 devices.
     */

    audio:not([controls]) {
        display: none;
        height: 0;
    }

    /**
     * Address `[hidden]` styling not present in IE 8/9/10.
     * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
     */

    [hidden],
    template {
        display: none;
    }

    /* Links
       ========================================================================== */

    /**
     * Remove the gray background color from active links in IE 10.
     */

    a {
        background: transparent;
    }

    /**
     * Improve readability when focused and also mouse hovered in all browsers.
     */

    a:active,
    a:hover {
        outline: 0;
    }

    /* Text-level semantics
       ========================================================================== */

    /**
     * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
     */

    abbr[title] {
        border-bottom: 1px dotted;
    }

    /**
     * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
     */

    b,
    strong {
        font-weight: bold;
    }

    /**
     * Address styling not present in Safari and Chrome.
     */

    dfn {
        font-style: italic;
    }

    /**
     * Address variable `h1` font-size and margin within `section` and `article`
     * contexts in Firefox 4+, Safari, and Chrome.
     */

    h1 {
        font-size: 2em;
        margin: 0.67em 0;
    }

    /**
     * Address styling not present in IE 8/9.
     */

    mark {
        background: #ff0;
        color: #000;
    }

    /**
     * Address inconsistent and variable font size in all browsers.
     */

    small {
        font-size: 80%;
    }

    /**
     * Prevent `sub` and `sup` affecting `line-height` in all browsers.
     */

    sub,
    sup {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
    }

    sup {
        top: -0.5em;
    }

    sub {
        bottom: -0.25em;
    }

    /* Embedded content
       ========================================================================== */

    /**
     * Remove border when inside `a` element in IE 8/9/10.
     */

    img {
        border: 0;
    }

    /**
     * Correct overflow not hidden in IE 9/10/11.
     */

    svg:not(:root) {
        overflow: hidden;
    }

    /* Grouping content
       ========================================================================== */

    /**
     * Address margin not present in IE 8/9 and Safari.
     */

    figure {
        margin: 1em 40px;
    }

    /**
     * Address differences between Firefox and other browsers.
     */

    hr {
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        height: 0;
    }

    /**
     * Contain overflow in all browsers.
     */

    pre {
        overflow: auto;
    }

    /**
     * Address odd `em`-unit font size rendering in all browsers.
     */

    code,
    kbd,
    pre,
    samp {
        font-family: monospace, monospace;
        font-size: 1em;
    }

    /* Forms
       ========================================================================== */

    /**
     * Known limitation: by default, Chrome and Safari on OS X allow very limited
     * styling of `select`, unless a `border` property is set.
     */

    /**
     * 1. Correct color not being inherited.
     *    Known issue: affects color of disabled elements.
     * 2. Correct font properties not being inherited.
     * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
     */

    button,
    input,
    optgroup,
    select,
    textarea {
        color: inherit; /* 1 */
        font: inherit; /* 2 */
        margin: 0; /* 3 */
    }

    /**
     * Address `overflow` set to `hidden` in IE 8/9/10/11.
     */

    button {
        overflow: visible;
    }

    /**
     * Address inconsistent `text-transform` inheritance for `button` and `select`.
     * All other form control elements do not inherit `text-transform` values.
     * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
     * Correct `select` style inheritance in Firefox.
     */

    button,
    select {
        text-transform: none;
    }

    /**
     * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
     *    and `video` controls.
     * 2. Correct inability to style clickable `input` types in iOS.
     * 3. Improve usability and consistency of cursor style between image-type
     *    `input` and others.
     */

    button,
    html input[type="button"], /* 1 */
    input[type="reset"],
    input[type="submit"] {
        -webkit-appearance: button; /* 2 */
        cursor: pointer; /* 3 */
    }

    /**
     * Re-set default cursor for disabled elements.
     */

    button[disabled],
    html input[disabled] {
        cursor: default;
    }

    /**
     * Remove inner padding and border in Firefox 4+.
     */

    button::-moz-focus-inner,
    input::-moz-focus-inner {
        border: 0;
        padding: 0;
    }

    /**
     * Address Firefox 4+ setting `line-height` on `input` using `!important` in
     * the UA stylesheet.
     */

    input {
        line-height: normal;
    }

    /**
     * It's recommended that you don't attempt to style these elements.
     * Firefox's implementation doesn't respect box-sizing, padding, or width.
     *
     * 1. Address box sizing set to `content-box` in IE 8/9/10.
     * 2. Remove excess padding in IE 8/9/10.
     */

    input[type="checkbox"],
    input[type="radio"] {
        box-sizing: border-box; /* 1 */
        padding: 0; /* 2 */
    }

    /**
     * Fix the cursor style for Chrome's increment/decrement buttons. For certain
     * `font-size` values of the `input`, it causes the cursor style of the
     * decrement button to change from `default` to `text`.
     */

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        height: auto;
    }

    /**
     * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
     * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
     *    (include `-moz` to future-proof).
     */

    input[type="search"] {
        -webkit-appearance: textfield; /* 1 */
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box; /* 2 */
        box-sizing: content-box;
    }

    /**
     * Remove inner padding and search cancel button in Safari and Chrome on OS X.
     * Safari (but not Chrome) clips the cancel button when the search input has
     * padding (and `textfield` appearance).
     */

    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-decoration {
        -webkit-appearance: none;
    }

    /**
     * Define consistent border, margin, and padding.
     */

    fieldset {
        border: 1px solid #c0c0c0;
        margin: 0 2px;
        padding: 0.35em 0.625em 0.75em;
    }

    /**
     * 1. Correct `color` not being inherited in IE 8/9/10/11.
     * 2. Remove padding so people aren't caught out if they zero out fieldsets.
     */

    legend {
        border: 0; /* 1 */
        padding: 0; /* 2 */
    }

    /**
     * Remove default vertical scrollbar in IE 8/9/10/11.
     */

    textarea {
        overflow: auto;
    }

    /**
     * Don't inherit the `font-weight` (applied by a rule above).
     * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
     */

    optgroup {
        font-weight: bold;
    }

    /* Tables
       ========================================================================== */

    /**
     * Remove most spacing between table cells.
     */

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    td,
    th {
        padding: 0;
    }



    ::selection { background: rgba(0,0,255,0.3); }
    ::-moz-selection { background:rgba(0,0,255,0.3); }

    pdf-viewer {
        display: block;
    }

    pdf-viewer .page {
        float:none;
        position: relative;
        display: block;
        margin: 10px auto;
        box-shadow: 0px 0px 10px #666666;;
        background-color: #ffffff;
    }

    pdf-viewer .text-layer {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        height: 1000px;
    }

    pdf-viewer .text-layer > div {
        color: transparent;
        position: absolute;
        white-space: pre;
        cursor: text;
        transform-origin: 0% 0%;
    }

    pdf-viewer .text-layer .highlight {
        margin: -1px;
        padding: 1px;
        background-color: rgba(180, 0, 170, 0.2);
        border-radius: 4px;
    }

    pdf-viewer .text-layer .highlight.begin {
        border-radius: 4px 0px 0px 4px;
    }

    pdf-viewer .text-layer .highlight.end {
        border-radius: 0px 4px 4px 0px;
    }

    pdf-viewer .text-layer .highlight.middle {
        border-radius: 0px;
    }

    pdf-viewer .text-layer .highlight.selected {
        background-color: rgba(0, 100, 0, 0.2);
    }

    pdf-viewer .page .annotLink > a {
        position: absolute;
        font-size: 1em;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    pdf-viewer .page .annotLink > a:hover {
        background-color: rgba(255, 255, 0, 0.25);
    }

    pdf-viewer .page .annotText > img {
        position: absolute;
        cursor: pointer;
    }

    pdf-viewer .page .annotTextContentWrapper {
        position: absolute;
        width: 20em;
    }

    pdf-viewer .page .annotTextContent {
        z-index: 200;
        float: left;
        max-width: 20em;
        background-color: #FFFF99;
        box-shadow: 0px 2px 5px #333;
        border-radius: 2px;
        padding: 0.6em;
        cursor: pointer;
    }

    pdf-viewer .page .annotTextContent > h1 {
        font-size: 1em;
        border-bottom: 1px solid #000000;
        padding-bottom: 0.2em;
    }

    pdf-viewer .page .annotTextContent > p {
        padding-top: 0.2em;
    }

</style>