<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="css/vendor-3e4b16a7.css">
<link rel="stylesheet" href="css/app-63b146b0.css">
<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/angular-route.min.js"></script>
<script type="text/javascript" src="js/ui-bootstrap-tpls.js"></script>
<script type="text/javascript" src="js/ui-bootstrap.js"></script>
<script type="text/javascript" src="js/angular-file-upload.min.js"></script>

<script type="text/javascript">
    var app = angular.module('myApp', ['ngRoute','ui.bootstrap','angularFileUpload']);
    
    app.config(function ($routeProvider) {
        $routeProvider.
        when('/search', {
            templateUrl: 'search.html',
            controller: 'searchCtrl'
        }).
        when('/home', {
            templateUrl: 'docManagement.html',
            controller: 'docManagementCtrl'
        }).
        otherwise({
            redirectTo: '/home'
        });
    });
    
    app.controller('ModalDemoCtrl', function ($scope, $uibModal, $log) {

    	  $scope.items = ['item1', 'item2', 'item3'];

    	  $scope.animationsEnabled = true;

    	  $scope.open = function (size) {

    	    var modalInstance = $uibModal.open({
    	      animation: $scope.animationsEnabled,
    	      templateUrl: 'myModalContent.html',
    	      controller: 'ModalInstanceCtrl',
    	      size: size,
    	      resolve: {
    	        items: function () {
    	          return $scope.items;
    	        }
    	      }
    	    });

    	    modalInstance.result.then(function (selectedItem) {
    	      $scope.selected = selectedItem;
    	    }, function () {
    	      $log.info('Modal dismissed at: ' + new Date());
    	    });
    	  };

    	  $scope.toggleAnimation = function () {
    	    $scope.animationsEnabled = !$scope.animationsEnabled;
    	  };

    	});

    	// Please note that $uibModalInstance represents a modal window (instance) dependency.
    	// It is not the same as the $uibModal service used above.

    	app.controller('ModalInstanceCtrl', function ($scope, $uibModalInstance, items) {

    	  $scope.items = items;
    	  $scope.selected = {
    	    item: $scope.items[0]
    	  };

    	  $scope.ok = function () {
    	    $uibModalInstance.close($scope.selected.item);
    	  };

    	  $scope.cancel = function () {
    	    $uibModalInstance.dismiss('cancel');
    	  };
    	});
    
    function showPage(url,obj){
    	$("ul.nav li").each(function(){
    		$(this).removeClass("active");
    	})
    	$(obj).parent().addClass("active");
    }
</script>
</head>
<body ng-app="myApp">
<div ng-controller="ModalDemoCtrl">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="item in items">
                    <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <button type="button" class="btn btn-default" ng-click="open()">Open me!</button>
    <button type="button" class="btn btn-default" ng-click="open('lg')">Large modal</button>
    <button type="button" class="btn btn-default" ng-click="open('sm')">Small modal</button>
    <button type="button" class="btn btn-default" ng-click="toggleAnimation()">Toggle Animation ({{ animationsEnabled }})</button>
    <div ng-show="selected">Selection from a modal: {{ selected }}</div>
</div>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="#/search" onclick="showPage(this)">文档搜索</a>
				</li>
				<li>
					<a href="#/home" onclick="showPage(this)">我的文档</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div id="main_content" ng-view>
 
</div>
<script type="text/javascript" src="js/docCloudCtrl.js"></script>
<script type="text/javascript" src="js/docManagement.js"></script>
<script type="text/javascript" src="js/docCloudService.js"></script>
<script type="text/javascript">
	
</script>
</body>
</html>